<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
   
    <h1>Bem vindo {{ userLogin }}</h1>
    <form action="">
        <fieldset>
            <h4 style="color: blue">Tela de login</h4>
            <input type="text" placeholder="Entre com seu email" name="email"><br><br>
            <input type="password" placeholder="Entre com sua senha" name="senha"><br><br>
            <input type="button" value="Entrar">
        </fieldset>
    </form>
</body>
</html>